<section>
	<ul>
<%

	@d.each { | filename | 
		if filename == "." || filename == ".." then next end 
		%>
			<li><img src="<%= "uploads/photos/" + filename %>" /></li>
		<%
	}

%>		
	</ul>
	
</section>
